<div class="page">
  <div class="container">

    <div class="row">
      <div class="col col-md-3">
        <h2>About Me</h2>
      </div>
      <div class="col col-md-8">
        <p id="about-intro">I've worked for Girls Who Code for three summers now,
          and I think I may have screwed myself over in terms of
          getting a job.  Although I will say that I am definitely
          going to try for jobs as an EQ analyst at Spotify,
          Viacom, whatever it was my Mom sent me, and AppNexus.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-8">
        <p id="about-soft-skills">Some of my favorite projects include this very
          website and my solo music project Xuan Rong.  I also enjoy teaching.  I have been a one-on-one
          tutor for years and have taught a class of 20 high school girls for the summer
          of 2015, 2016, and 2017.  From teaching I have learned how to read other
          people's code, how to communicate simple and complex programming concepts
          and ideas, and have been exposed to different minds and ways of thinking
          and learning.
      </div>
      <div class="col col-md-3">
        <h6>I am a programmer, web designer, musician, sound engineer, and teacher.</h6>

      </div>
    </div>
  </div>
</div>
